@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 70px;
    padding: 15px;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo img{
    width: 120px;
    margin-left: 15px;
}
.header i{
    padding: 0 8px;
    margin-left:0.5rem ;
    font-size: 1.1rem;
    cursor: pointer;
}
.search form{
    height: 39px;
    display: flex;
    border: 2px solid black;
}
.search input{
    width: 500px;
    height: 35px;
}
.search input::placeholder{
    padding-left: 0.6rem;
}
.search button{
    height: 100%;
}
.YtBody{
    display: flex;
    overflow: hidden;
    height: calc(100vh -70px);
}
.sidebar{
    width: 240px;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
}
.sidebar_nav{
    width: 100%;
    display:flex ;
    flex-direction: column;
    margin: 15px 0 15px 0;
}
.nav-item{
    display: flex;
    align-items: center;
    padding:12px 15px;
}
.nav-item span{
    margin-left: 15px;
}
.nav-item:hover{
    cursor: pointer;
    background: #bdbdbd;
}
hr{
    height: 1px;
    background: #bdbdbd;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
i{
    color: rgb(96, 96, 96);
}
.video_section{
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    overflow-y: scroll;
    border-top: 1px solid #ddd;
    background: #f9f9f9;
}
.recom{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.video{
    width: 320px;
    cursor: pointer;
    margin-bottom: 30px;
    border: 1px solid #fff;
}
.video:hover{
    border: 1px solid #b8b8b8;
}
.thumbnail{
    width: 100%;
    height: 170px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    display: flex;
    margin-top: 10px;
}
.logo img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h2{
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 18px;
    color: rgb(3, 3, 3);
}
.title a,span{
    font-size: 14px;
    text-decoration: none;
    color: rgb(96, 96, 96);
}